{
    "parser": "babel-eslint",
    "extends": [
        "eslint-config-airbnb"
    ],
    "globals":{
        "window": true,
        "document": true  
    },
    "rules": {
        "linebreak-style": "off",
        "indent": "off",
        "comma-dangle": "off",
        "import/no-extraneous-dependencies": "off",
        "react/jsx-filename-extension": "off"
    }
}