{
    "parser": "babel-eslint",
    "extends": [
        "eslint-config-airbnb"
    ],
    "globals": {
        "window": true,
        "document": true
    },
    "rules": {
        "linebreak-style": "off",
        "indent": "off",
        "comma-dangle": "off",
        "import/no-extraneous-dependencies": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": "off",
        "react/jsx-no-bind": "off",
        "react/jsx-indent-props": "off",
        "no-param-reassign": "off",
        "react/sort-comp": "off",
        "react/jsx-curly-spacing": "off",
        "react/jsx-closing-bracket-location": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "react/jsx-first-prop-new-line": "off",
        "quote-props": "off",
        "max-len": "off"
    }
}