{
    "parser": "babel-eslint",
    "extends": [
        "eslint-config-airbnb"
    ],
    "rules": {
        "linebreak-style": "off",
        "indent": "off",
        "comma-dangle": "off",
        "import/no-extraneous-dependencies": "off"
    }
}